<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fee_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FEE_PROJECT">
        <activity android:name=".ShowPdf"></activity>
        <activity android:name=".ViewDocumentsRec" />
        <activity android:name=".Liste_condidats" />
        <activity android:name=".CvLetter" />
        <activity android:name=".DescriptionOffers" />
        <activity android:name=".UpdateOffre" />
        <activity android:name=".StudentOffers">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecruiterOffers"
            android:label="@string/title_activity_recruiter_offers"
            android:theme="@style/Theme.FEE_PROJECT.NoActionBar" />
        <activity android:name=".Student_accueil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".offre_stage" />
        <activity android:name=".Recruiter_accueil" />
        <activity android:name=".Register_Recruiter_1" />
        <activity android:name=".Register_Student" />
        <activity android:name=".Inscription_choice" />
        <activity android:name=".Login" android:theme="@style/Theme.FEE_PROJECT.NoActionBar"/>
        <activity android:name=".MainActivity" android:theme="@style/Theme.FEE_PROJECT.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>